<div class="w3-container" *ngIf="studentAddForm">
	<form class="w3-container" [formGroup]="studentAddForm" (ngSubmit)="doRegister()">
	<div class="w3-panel w3-round-small w3-teal">
		<h3><span *ngIf="index == undefined">Student Registration</span><span *ngIf="index != undefined">Student Update</span> <a routerLink="/" class="w3-button w3-green custom-button"><i class="w3-medium fa fa-chevron-left"></i> Back</a></h3>
	</div>

		<label class="w3-text-blue"><i class="w3-medium custom-icon fa fa-user"></i><b>First Name</b></label>
		<input class="w3-input w3-border" type="text" formControlName="first_name">

		<label class="w3-text-blue"><i class="w3-medium custom-icon fa fa-user"></i><b>Last Name</b></label>
		<input class="w3-input w3-border" type="text" formControlName="last_name">

		<button class="w3-btn w3-blue" type="submit"><span *ngIf="index == undefined">Register</span><span *ngIf="index != undefined">Update</span> <i class="w3-medium fa fa-check"></i> </button>

	</form>
</div>

